Repository kwannz/B: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements, check-version

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings
          - flake8-quotes
          - flake8-bugbear

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
          - types-PyYAML
          - types-python-dateutil

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, css, json]

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true

      - id: check-requirements
        name: Check requirements
        entry: python -c "import pkg_resources; pkg_resources.require(open('requirements.txt').readlines())"
        language: system
        files: requirements.*\.txt$
        pass_filenames: false

      - id: check-version
        name: Check version
        entry: python -c "import configparser; c = configparser.ConfigParser(); c.read('pyproject.toml'); assert c['project']['version'] == open('VERSION').read().strip()"
        language: system
        files: ^(pyproject\.toml|VERSION)$
        pass_filenames: false

fix: Pin pydantic version to 1.10.12 for FastAPI 0.95.0 compatibility
  requirements.txt
Due: check-requirements

fix: Update bandit configuration to exclude test directories and assertions
  pyproject.toml
Due: check-version

fix: Update package versions to match available versions
  requirements-dev.txt
Due: check-requirements

fix: Add PostgreSQL user creation and privileges in database initialization
  src/backend/init_database.py
Due: none

fix: Update bandit configuration to properly exclude test files
  pyproject.toml
Due: check-version

fix: Remove whitespace in blank line in init_database.py
  src/backend/init_database.py
Due: none

fix: Add setup.py for backend package installation
  src/backend/setup.py
Due: none

fix: Update bandit configuration to exclude test files and assertions
  pyproject.toml
Due: check-version

fix: Update bandit configuration to properly exclude test files and assertions
  pyproject.toml
Due: check-version

style: Format setup.py with black
  src/backend/setup.py
Due: none

fix: Update motor and pymongo versions for compatibility
  requirements.txt
Due: check-requirements

fix: Update motor and pymongo versions for compatibility with Python 3.8
  requirements.txt
Due: check-requirements

fix: Update package versions and add go_executor submodule configuration
  .gitmodules
  requirements.txt
Due: check-requirements

fix: Change relative import to absolute import in database.py
  src/backend/database.py
Due: none

fix: Downgrade motor and pymongo versions for compatibility
  requirements.txt
Due: check-requirements

fix: Update CI configuration and bandit settings
  .github/workflows/ci.yml
  pyproject.toml
  requirements.txt
  src/backend/init_database.py
  src/backend/setup.py
Due: check-requirements, check-version

style: Remove trailing whitespace in init_database.py
  src/backend/init_database.py
Due: none

fix: Update bandit configuration in pyproject.toml
  pyproject.toml
Due: check-version

fix: Update CI workflow with proper test environment setup
  .github/workflows/ci.yml
Due: none

fix: Update CI workflow with test environment configuration
  .github/workflows/ci.yml
Due: none

fix: Update CI workflow with improved test configuration
  .github/workflows/ci.yml
Due: none

fix: Update CI workflow configuration with improved linting and test settings
  .github/workflows/ci.yml
Due: none

fix: Update CI configuration with improved linting and test settings
  .github/workflows/ci.yml
  pyproject.toml
  src/backend/setup.py
Due: check-version

fix: Update import paths in main.py
  src/backend/main.py
Due: none

fix: Remove go_executor submodule temporarily
  .gitmodules
  src/frontend/pnpm-lock.yaml
Due: none

fix: Add proper type annotations to database and websocket modules
  src/backend/database.py
  src/backend/websocket.py
Due: none

fix: Remove submodule configuration from CI workflow
  .github/workflows/ci.yml
Due: none

fix: Update import paths in main.py to use relative imports
  src/backend/main.py
Due: none

fix: Remove duplicate logger import and fix formatting
  src/backend/database.py
  src/backend/websocket.py
Due: none

fix: Update CI configuration and add types-requests dependency
  .github/workflows/ci.yml
  requirements-dev.txt
Due: check-requirements

fix: Update database imports and type annotations
  src/backend/database.py
Due: none

fix: Update mypy configuration and module resolution
  .github/workflows/ci.yml
  pyproject.toml
Due: check-version

fix: Add proper type annotations and fix formatting issues
  pyproject.toml
  src/backend/database.py
  src/backend/init_database.py
  src/backend/main.py
Due: check-version

fix: Update CI configuration for proper test execution
  .github/workflows/ci.yml
Due: none

fix: Update function parameter formatting in main.py
  src/backend/main.py
Due: none

fix: Add type annotations for SQLAlchemy model fields
  src/backend/database.py
Due: none

fix: Update column definitions formatting in database.py
  src/backend/database.py
Due: none

fix: Update SQLAlchemy column formatting in database.py
  src/backend/database.py
Due: none

fix: Add psycopg2-binary dependency for PostgreSQL database initialization
  requirements.txt
  src/backend/setup.py
Due: check-requirements
