Repository kwannz/B: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements, check-version

check-requirements:
  name: Check requirements
  entry: python -c "import pkg_resources; pkg_resources.require(open('requirements.txt').readlines())"
  language: system
  pass_filenames: false

check-version:
  name: Check version
  entry: python -c "import configparser; c = configparser.ConfigParser(); c.read('pyproject.toml'); assert c['project']['version'] == open('VERSION').read().strip()"
  language: system
  pass_filenames: false

fix: Add backend and test requirements files
  tests/requirements.test.txt
Due: check-requirements

fix: Set Python version to 3.11.11 to match CI environment
  .python-version
Due: none

ci: Update Node.js version to 20.18.0 in CI workflow
  .github/workflows/ci.yml
Due: none

fix: Split requirements into core and dev dependencies
  requirements-dev.txt
  requirements.txt
Due: check-requirements

ci: Update test commands and coverage paths
  .github/workflows/ci.yml
Due: none

chore: Configure Git LFS for large files
  .gitattributes
Due: none

chore: Update frontend dependencies and configuration
  src/frontend/package.json
Due: none

chore: Update package-lock.json with new dependencies
  src/frontend/package-lock.json
Due: none

style: Format Python code with black and fix bare except clauses
  src/backend/config.py
  src/backend/database.py
  src/backend/init_database.py
  src/backend/main.py
  src/backend/schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/e2e/test_trading_flow.py
  src/backend/tests/test_api.py
  src/backend/tests/test_health.py
  src/backend/tests/test_websocket.py
  src/backend/websocket.py
Due: none

fix: Update backend CORS settings and configuration
  src/backend/config.py
Due: none

feat: Add Ollama model integration and fix connectivity issues
  src/backend/config.py
  src/backend/database.py
  src/backend/main.py
  src/backend/schemas.py
  src/backend/websocket.py
  src/frontend/api/client.ts
  src/frontend/api/websocket.ts
  src/tradingbot/backend/trading_agent/agents/technical_analyst_agent.py
  src/tradingbot/shared/db/database_manager.py
  src/tradingbot/shared/models/ollama.py
  src/tradingbot/shared/models/strategy.py
  src/tradingbot/shared/models/wallet.py
  src/tradingbot/shared/monitor/metrics.py
  src/tradingbot/shared/utils/fallback_manager.py
Due: none

style: Fix linting issues and improve code formatting
  src/backend/config.py
  src/backend/database.py
  src/backend/main.py
  src/backend/schemas.py
Due: none

fix: Improve type hints and logging format
  src/backend/database.py
  src/tradingbot/shared/utils/fallback_manager.py
Due: none

feat: Add Ollama model integration for technical analysis
  src/shared/models/ollama.py
  src/tradingbot/backend/trading_agent/agents/technical_analyst_agent.py
Due: none

feat: Improve API error handling and validation
  src/backend/main.py
Due: none

fix: Remove unused imports and fix linting issues
  src/backend/main.py
  src/backend/tests/test_api.py
  src/backend/tests/test_health.py
  src/backend/tests/test_websocket.py
  src/backend/websocket.py
Due: none

fix: Fix remaining linting issues and improve code formatting
  src/backend/config.py
  src/backend/database.py
  src/backend/main.py
  src/backend/tests/test_websocket.py
Due: none

fix: Fix remaining linting issues and improve code formatting
  src/backend/main.py
  src/backend/websocket.py
Due: none

style: Fix code formatting with black and isort
  src/backend/config.py
  src/backend/main.py
  src/backend/tests/test_api.py
  src/backend/tests/test_health.py
  src/backend/websocket.py
Due: none

fix: Update Python version and fix import paths
  pyproject.toml
  src/backend/tests/conftest.py
Due: check-version

fix: Add proper type annotations for WebSocket client
  src/backend/tests/conftest.py
Due: none

fix: Add __init__.py to make tests a proper Python package
  src/backend/tests/__init__.py
Due: none

fix: Update test configuration and fix import paths
  pyproject.toml
  src/backend/tests/conftest.py
Due: check-version

fix: Fix import order in conftest.py
  src/backend/tests/conftest.py
Due: none

fix: Fix linting issues and import sorting
  pyproject.toml
  src/backend/config.py
  src/backend/database.py
  src/backend/init_database.py
  src/backend/main.py
  src/backend/schemas.py
  src/backend/tests/conftest.py
  src/backend/tests/e2e/test_trading_flow.py
  src/backend/tests/test_config.py
  src/backend/tests/test_health.py
  src/backend/websocket.py
Due: check-version

fix: Remove duplicate bandit configuration and fix import paths
  .python-version
  pyproject.toml
  src/backend/tests/conftest.py
Due: check-version

fix: Add missing settings import in main.py
  src/backend/main.py
Due: none

fix: Update bandit configuration and fix security issues
  pyproject.toml
  src/backend/config.py
  src/backend/init_database.py
Due: check-version

fix: Update SQL query parameterization and bandit test file exclusions
  pyproject.toml
  src/backend/init_database.py
Due: check-version

style: Fix black formatting in init_database.py
  src/backend/init_database.py
Due: none

fix: Update bandit configuration to ignore assert warnings in test files
  pyproject.toml
Due: check-version

fix: Update import paths to use absolute imports
  src/backend/main.py
Due: none

fix: Update CI configuration and test settings
  .github/workflows/ci.yml
  pyproject.toml
Due: check-version

fix: Update CI configuration and package setup
  .github/workflows/ci.yml
  setup.py
Due: none

chore: Update package versions and Python requirements
  pyproject.toml
  requirements.txt
Due: check-requirements, check-version

fix: Pin package versions for Python 3.8 compatibility
  requirements.txt
Due: check-requirements

fix: Update bandit configuration and pin package versions
  pyproject.toml
  requirements.txt
Due: check-requirements, check-version

fix: Update bandit configuration to properly ignore test assertions
  pyproject.toml
Due: check-version

fix: Update bandit configuration to properly handle test assertions
  pyproject.toml
Due: check-version

Path conditions:
  check-requirements: any of: requirements.*\.txt$
  check-version: any of: ^(pyproject\.toml|VERSION)$
